[submodule "cpp-checker/cppcheck"]
	path = cpp-checker/cppcheck
	url = https://github.com/danmar/cppcheck.git
[submodule "go-checker/GFuzz"]
	path = go-checker/GFuzz
	url = https://github.com/Chain-Fox/GFuzz
[submodule "go-checker/GCatch"]
	path = go-checker/GCatch
	url = https://github.com/Chain-Fox/GCatch
[submodule "rust-checker/dynamic/shuttle"]
	path = rust-checker/dynamic/shuttle
	url = https://github.com/Chain-Fox/shuttle
[submodule "solidity-checker/slither"]
	path = solidity-checker/slither
	url = https://github.com/Chain-Fox/slither
[submodule "rust-checker/dynamic/ERASan"]
	path = rust-checker/dynamic/ERASan
	url = https://github.com/Chain-Fox/ERASan
[submodule "Cocoon-implementation"]
	path = Cocoon-implementation
	url = git@github.com:Chain-Fox/Cocoon-implementation.git
[submodule "rust-checker/static/MIRAI"]
	path = rust-checker/static/MIRAI
	url = https://github.com/Chain-Fox/MIRAI
[submodule "rust-checker/static/RAPx"]
	path = rust-checker/static/RAPx
	url = https://github.com/Chain-Fox/RAPx
[submodule "rust-checker/static/Rudra"]
	path = rust-checker/static/Rudra
	url = https://github.com/Chain-Fox/Rudra
[submodule "rust-checker/verifier/kani"]
	path = rust-checker/verifier/kani
	url = https://github.com/model-checking/kani.git
